# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Django
db.sqlite3

# Generated Static Files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db